<div class="col-md-6" style="margin-left:0%">
        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Relatorio de Resumo de Viajem</h3>
          </div>
            <div class="box-body">
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                      <b>Foi Carregado :</b>  
                      <span class="pull-right"><span>{{ summary?.amountCarregado }}</span></span>
                </li>
                <li class="list-group-item">
                    <b>Em Rota :</b>  
                    <span class="pull-right"><span>{{ summary?.amountRota }}</span></span>
                </li>
                <li class="list-group-item">
                      <b>Chegou de Viajem :</b>  
                      <span class="pull-right"><span>{{ summary?.amountGalpao }}</span></span>
                </li>
                <li class="list-group-item">
                      <b>Fez Acerto :</b>  
                      <span class="pull-right"><span>{{ summary?.amountAcertou }}</span></span>
                </li>
                <li class="list-group-item">
                      <b>Finalizador :</b>  
                      <span class="pull-right"><span>{{ summary?.amountFinalizador }}</span></span>
                </li>
              </ul>     
            </div>
        </div>
      </div>
